@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-base: "Heebo", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  height: 100vh;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  aspect-ratio: 1 !important;
  margin: -1 !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

ul,
li,
a {
  outline-style: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

.w100 {
  width: 100%;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aie {
  align-items: end;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.main-container {
  position: relative;
  column-gap: 30px;
}
.container-page {
  max-width: 1410px;
  width: 100%;
}
button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
body {
  margin: 0;
  padding: 0;
  background: #f8f9fc;
  font-family: var(--font-family-base);
  line-height: 1.24;
}

main {
  flex: 1 0 auto;
}

.content {
  max-width: 1770px;
  padding-inline: 15px;
  margin: 0 auto;
}

/* header */
.header {
}

.header-block {
  border-bottom: 2px solid #b4b3b355;
  padding-bottom: 20px;
  height: clamp(70px, 9.38vw, 122px);
  gap: 10px;
}

.header-logo {
  width: clamp(85px, 12vw, 225px);
}

.header-nav {
  column-gap: 2vw;
  height: 100%;
}

.header-link-list {
  height: 100%;
  column-gap: 15px;
}

.header-link-item {
  position: relative;
  height: 100%;
}

.header-link-item a {
  display: inline-flex;
  height: 100%;
  align-items: center;
  white-space: nowrap;
  font-size: clamp(12px, 1vw, 22px);
  transition: all 0.4s ease-in-out;
}

.header-link-item a:hover {
  text-shadow: red 1px 0 10px;
}

.url-active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  border: 1px solid red;
  border-radius: 3px 3px 0 0;
  background-color: red;
  bottom: -20px;
}

.header-phone-block {
  gap: clamp(5px, 1vw, 18px);
}

.header-phone-img {
  width: clamp(20px, 3.85vw, 50px);
}

.header-phone-list {
  gap: 5px;
}

.header-phone-item a {
  font-size: clamp(8px, 1vw, 14px);
  white-space: nowrap;
}

.header-right-block {
  column-gap: clamp(10px, 1.2vw, 30px);
}

.search-block {
  position: relative;
  height: 50px;
}

.search-block svg {
  position: absolute;
  background-color: initial;
  top: 50%;
  left: 18px;
  transform: translate(0%, -50%);
}

#search {
  width: clamp(70px, 8vw, 210px);
  height: 50px;
  padding-left: 60px;
  padding-right: 10px;
  background-color: #e5e5e5;
  border-radius: 20px;
  border: none;
}

#search:focus {
  outline: none;
}

.profile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 0, 0);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.profile svg {
  fill: rgb(255, 255, 255);
  background-color: initial;
}

.profile:hover {
  box-shadow: 0px 0px 11px 2px black;
}

/* стиль всплывающего окна */
.popup {
  display: flex;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.473);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  z-index: 10;
}

.popup-modal {
  width: clamp(270px, 60vw, 950px);
  padding: 20px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 12px;
}

.popup-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.popup-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: clamp(5px, 1.15vw, 15px);
}

.popup-header h2 {
  font-size: clamp(12px, 1.23vw, 20px);
  font-weight: 700;
}

.popup-header button > img {
  width: clamp(10px, 1.54vw, 20px);
  height: clamp(10px, 1.54vw, 20px);
}

.popup-main {
  flex: 10 auto;
  justify-content: center;
}

.popup-list,
.popup-main-info,
.popup-main,
.popup_nutritional-value {
  display: flex;
  flex-direction: column;
}

.popup-main-info,
.popup-list {
  row-gap: clamp(5px, 0.77vw, 10px);
}

.popup-main,
.popup_nutritional-value {
  row-gap: clamp(5px, 1.15vw, 15px);
}

.popup-list li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 14px;
}

.popup-main h3 {
  display: inline-block;
  font-weight: 700;
  font-size: clamp(12px, 1.5vw, 20px);
}

.popup-footer {
  margin-top: 5px;
}

.popup-footer,
.popup-footer nav {
  display: flex;
  align-items: center;
}

.popup-footer nav {
  column-gap: 15px;
  height: 60px;
}

.popup-footer nav p {
  font-weight: 700;
  font-size: 20px;
}

.popup-footer-btn {
  position: relative;
  width: 28px;
  height: 28px;
  font-weight: 700;
  font-size: 20px;

  border-radius: 50%;
  border: 4px solid red;
  color: red;
  border-collapse: collapse;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.popup-footer-btn svg {
  fill: red;
  stroke: red;
}

.popup-footer-btn:hover {
  color: #fff;
}

.popup-footer-btn:hover svg {
  fill: #fff;
  stroke: red;
  background-color: #ffffff00;
}

.btnPlus svg {
  border-radius: 50%;
}

.popup-footer-btn::before {
  content: "";
  background-color: #ffffff00;
  position: absolute;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 6px -1px #000000;
}

.popup-footer-btn:hover {
  border-color: #fff;
  background-color: red;
}

.popup-footer-btn:hover::before {
  border-color: red;
}

/* Боковая панель корзины */

.promo-code-block {
  position: relative;
}

.promo-code-block input {
  width: calc(100% - 147px);
  height: 35px;
  border-color: red;
  border-radius: 10px;
  padding: 0 140px 0 5px;
}

.promo-code-block input:focus {
  outline: none;
}

.promo-code-block button {
  position: absolute;
  top: 0;
  right: 0;
  width: 135px;
  height: 100%;

  background-color: red;
  border-radius: 0 12px 12px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.cart-panel-block {
  position: static;
  top: 12px;
  width: 360px;
  row-gap: 20px;
}

.cart-panel-cart {
  padding: 15px;
  background-color: #fff;
  border-radius: 18px;
  border: 1px solid #f2f2f2;
  box-shadow: 4px 4px 8px 0px #767676;
  row-gap: 15px;
}

.cart-panel-header {
  background: inherit;
}

.cart-panel-header h3 {
  background: inherit;
  font-size: 18px;
  font-weight: 700;
}

.cart-panel-body {
  row-gap: 15px;
  background: inherit;
}

.delimiter {
  border: 1px solid #e6e6e6;
}

.cart-panel-footer {
  background-color: inherit;
  row-gap: 15px;
  color: #fff;
}

.cart-panel-footer_price {
  background-color: inherit;
  color: #000000;
}

.cart-panel-footer_price > div:nth-child(1) {
  font-size: 20px;
}

.cart-panel-footer_price > div:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
}

.cart-panel-footer a {
  display: inline-flex;
  width: 100%;
  height: 50px;
  column-gap: 5px;
  background-color: #e31e24;
  border-radius: 12px;
  font-size: 18px;
}

.cart-panel-footer svg {
  background: #e31e24;
}

.cart-product-card {
  padding: 10px;
  border-radius: 12px;
  row-gap: 5px;
}

.cart-product-header {
}

.cart-product-header button img {
  padding: 5px;
}

.cart-product-header button img {
  width: 10px;
  aspect-ratio: 1;
}

.cart-product-header_title {
  column-gap: 5px;
}

.cart-product-header_title > div:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
}

.cart-product-header_title > div:nth-child(2) {
  font-size: 12px;
}

.cart-product-body {
}

.cart-product-body_info {
  row-gap: 7px;
}

.cart-product-body_info div {
  font-weight: 700;
  font-size: 18px;
}

.cart-product-body_nav {
  width: 100px;
}

.cart-product-body_nav p {
  font-weight: 700;
  font-size: 18px;
}

/* баннер рекламы */

.advertising-banner {
  background-image: url("public/img/stock1.jpg");
  width: 100%;
  height: clamp(100px, 16vw, 300px);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 12px;
}

@media (max-width: 1024px) {
}

@media (max-width: 700px) {
  .popup-modal {
    grid-template-columns: repeat(1, 1fr);
  }
}
